body{
  background-color: #FFE6E6;
  text-align: center;
}

ul.nav { 
  list-style-type: none; 
}

ul.nav li {
  padding: 0 1em;
  display: inline; 
}

#error_explanation{
  text-align: center;
  margin: 0 auto;
}

.field_with_errors{
  text-align: center;
  margin: 0 auto;
}


